/* ----------------------------------- *
 * Lists
 * ----------------------------------- */

/* change ul circles to squares */
#unordered-list {
  list-style-type: square;
}

/* change ol numbers to upper-cased letters */
#ordered-list {
  list-style-type: upper-alpha;
}

/* easier to use than floats and same effect as the 3 lines of code for floats below */
#nav-inline-block li {
  display: inline-block;
}

/* clear history cache and refresh to see changes due to possibly multiple lists.html */
/* requires padding specification in css and clearfixing in html to achieve same effect as inline-block */
#nav-floats li {
  display: block;
  float: left;
  padding-right: 1px;
}

/* eliminate padding and margin for styled group of links */
#nav-styled,
#nav-styled ul {
  padding: 0;
  margin: 0;
}

/* use floats and clearfix to style a group of links for navigation */
#nav-styled li {
  float: left;
  display: block;
  width: 20%; /* each float take up 20% width of screen */
  text-align: center; /* Link1,Link2,Link3 text are centered*/
}

/* clear history cache and refresh to see changes due to possibly multiple lists.html */
/* style the a element (link tag) of id=nav-styled */
#nav-styled a {
  display: block; /* shape of content container? */
  padding-top: 5px; /* gap between link text and top border */
  padding-bottom: 50px; /* gap between link text and bottom border */
  width: 33%; /* width of border */
  height: 50%; /* unsure */
  text-decoration: none;
  color: #00ff00; /* make link text green before hover*/
  border-bottom: 20px transparent solid; /* adjust thickness of bottom border and make it go from transparent to solid */
  transition: border 5s; /* solid border transition to fully visible in 5 seconds */
}

/*  */
#nav-styled a:hover {
  color: #FFFF00; /* make link text yellow when hovered */
  border-color: #C96349; /* make bottom border red when hovered */
}
